/* Universal Selector */
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Merriweather', serif;
    color: #B3B1B9;
}
.thick, .slim{
    margin: 0 auto;
    background-color: black;
}
.thick{
   height: 5px;
   margin-bottom: 3px;
   width: 98%

}
.slim{
    height: 2.5px;
    width: 98%;
}
legend,h3{
    color: black;
    font-weight: 700;
    margin: 10px 0 10px 0;
}
fieldset{
    border: 0;
}
form{
    margin-top: 1rem;
}
label{
    font-size: .85rem;
    display: inline-block;
    margin-bottom: 2px;
}

/* -------------------- HEADER -------------------------------------- */
header{
    text-align: center;
}
header h1{
    background-color: #2B375A;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
}
.banner h3{
    padding: 1rem 1rem 0 1rem;;
}
.banner p{
    font-size: .875rem;
    padding: .5rem;
    margin-bottom: 1rem;
}
.contact label{
    display: block;
}

/* --------------------- FORM ---------------------- */
input[type="text"], input[type="email"], input[type="tel"], select{
    width: 98%;
    padding: .8rem;
    margin: 5px 0 12px 0;
    background-color: #e0e3e9;
    border: 0;
    border-radius: .3em;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus,select:focus{
    border: 2px solid #25477B;
    box-shadow: inset 0 0 3px #6c6e71;
}

input[id^="zip"]{
    width: 50%;
}
option[value=""]{
    display: none;
}

option{
    background-color: ghostwhite;
}
::placeholder{
    text-align: right;
    opacity: .7;
    font-size: .9em;
    font-style: italic;
    margin-right: 5px;
}
legend{
    padding-top: 15px;
    padding-left: 0;
} 
.newsletter p{
    font-size: .875rem;
    margin-bottom: 10px;
}
input[type="checkbox"]:checked + label,  input[type="radio"]:checked + label{
    font-weight: bold;
    color: black;
}
.newsletter label{
    margin: 5px 0 5px 5px;
}
.newsletter .format{
    margin: 15px 0 5px;
}
textarea{
    width:98%;
    background-color: #e0e3e9;
    margin-top: 5px;
    border: 0;
}
.newsletter .feedback{
    margin-top: 15px;
    margin-left: 0;
}

button{
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    background-color: rgba(43, 206, 161, .75);
    color: #fff;
    width: 98%;
    padding: 15px;
    border: 0;
    border-radius: .2em;
    margin: 15px 0;
    cursor: pointer;
}
button:active{
    transform: scale(.99);
}

/* ---------------- FOOTER -------------- */
footer p{
    font-size: .75em;
    margin: auto;
    text-align:center;
    margin-bottom: 20px;
}

/* ------------- MEDIA QUERY --------------*/
@media screen and (min-width: 768px){
    .contact label,input,select{
        display: inline-block;
    }
    .contact label{
        width: 30%;
        padding-top: 5px;
    }
    label, .newsletter p{
        color: black;
    }
    .contact input,select{
        width: 68%;
    }
    .contact input[id="zip"]{
        width: 25%;
    }
   form,footer,hr{ 
       max-width: 60%;
       margin: 0 auto;
   }
   #in-form{
       max-width: 95%;
       
   }
}